* -text
reproduction/results/Conifer/Homo-CL/conifer_3x4b_fulltrain_v1/eval/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/MAD/round_27/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/Qwen3-14B/single_14b/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/GPTSwarm/round_27/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/GPTSwarm/round_26/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/AgentVerse/round_27/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/CL/round_4/scored.jsonl filter=lfs diff=lfs merge=lfs -text
reproduction/results/Conifer/Homo-MAS/conifer_3x8b_sas14b_self_rl_v1/00_3x8b_zero_shot/scored.jsonl filter=lfs diff=lfs merge=lfs -text
